.navbar-wrapper {
    text-transform: uppercase;
    background-color: #000000;
}


.navbar-default .navbar-nav > li > a{
    color: #47ff06;
    float: left;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #fbfbfb;
}

div.navbar-collapse.collapse{
    margin-top: 10px;
}

.navbar-default .navbar-toggle {
    border-color: #47ff06;
    margin-top: 10px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #47ff06;
    color: #000000;
}

.navbar-default .navbar-toggle > span {
    color: #47ff06;
}

.navbar-default .navbar-toggle:hover > span {
    color: #000000;
}

.navbar-nav {
    float: right;
}

@media (max-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

* {
    font-family: "courier new";
}

body {
    background-color: black;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-family: "courier new";
}


.container#first {
    margin-top: 0px;
    margin-bottom: 100px;
    text-align: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container#content {
    margin-top: 100px;
    text-align: left;
    background-color: #000000;
    color:  #47ff06;
}

/* Set the fixed height of the footer here */
footer {
    background-color: #050505;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #47ff06;
}

footer a {
    color: #f5f5f5;
}

.pink {
    color: #ff20d0;
}

.green {
    color: #47ff06;
}

.airy {
    padding-bottom: 30px;
}

iframe {
    background-color:  #47ff06;
}

.scores {
    font-size: x-large;
    font-weight: bolder;
}

.blink {
    text-decoration: blink;
}

.yellow {
    color: #ffff00;
}

.orange {
    color: #ffc405;
}

.red {
    color: #ff2035;
}

.highscore {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.login-buttons-dropdown-align-left {
    margin-top: 100px;
}
.score-form {
    margin-top: 100px;
}

tr:nth-child(2) {
    color: #47ff06;
}
tr:nth-child(3) {
    color: #47ff06;
}
tr:nth-child(4) {
    color: #ffff00;
}
tr:nth-child(5) {
    color: #ffff00;
}
tr:nth-child(6) {
    color: #ffff00;
}
tr:nth-child(7) {
    color: #ffc405;
}
tr:nth-child(8) {
     color: #ffc405;
}
tr:nth-child(9) {
    color: #ffc405;
}
tr:nth-child(10) {
     color: #ff2035;
}
tr:nth-child(1n+10) {
     color: #ff2035;
}